.mypy_cache
*.py[co]
__pycache__
*~
\#*
.\#*
.*.swp
hello.txt
tests/*/*.rb
tests/*/*.cr
tests/*/*.out
tests/*/*.diff
tests/*/*.err
tests/*/*.cmd.txt
tests/*.err
tests/*.out
tests/*/*/*.rb
tests/*/*/*.cr
tests/*/*/*.err
tests/*/*/*/*.rb
tests/*/*/*/*.cr
tests/*/*/*/*.err
